/*选择器类型*/
/*类型、类和 ID 选择器*/

body {
    /*类型选择器*/
    justify-content: center;
    font-size: 18px;
}

.header p {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    margin: auto 0;
    font:bolder;
}

.head {
    /*类选择器*/
    background-color: rebeccapurple;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
}

.head-title {
    display: flex;
    height: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center; /*水平居中*/
    margin: 0 auto;
}

#123 {
    /*id选择器*/
    font-size: 10px;
}

/*存否和值选择器*/
a[class] {
    /*存否和值选择器，筛选出a且含有class属性的部分*/
    font-size: 20px;
}

a[href="pages/10-h5.html"] {
    /*完全匹配*/
    font-size: 20px;
}

a[href～="pages/10-h5.html"] {
    /*包含匹配*/
    font-size: 20px;
}

a[href｜="pages/10-h5.html"] {
    /*以什么开始匹配*/
    font-size: 100px;
}

.main-area {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px;
}

.rows {
    padding: 5px;
    margin: 5px;
    flex: 1 200px;
}

.area {
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
}

.notion {
    font-size: 14px;
    padding: 10px;

}

/*移动端
@media(max-width:600px) {
    .head {
        background-color: blue;
    }

    .main-area {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 80%;
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px auto;
        padding: 10px;
    }
    .row1 {

    */

a {
    text-decoration: none;
}
a:link,
/*伪类*/
a:visited {
    color: black;
}

a:hover {
    text-decoration:underline;
    color: blue;
}

.main-area>a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}