* {
    box-sizing: border-box;  /*替代盒模型*/
    /* css 盒模型
    https: //developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model#block_and_inline_boxes*/
    /*默认浏览器会使用标准模型。如果需要使用替代模型，
    你可以通过为其设置 box-sizing: border-box 来实现。
    这样就可以告诉浏览器使用 border-box 来定义区域，
    从而设定你想要的大小。*/
}

body {
    font-family: sans-serif;
    display: flex;/*flex layout*/
    flex-direction:column; /*纵向排列*/
    align-items: center;/*居中*/
    justify-content: center;/*居中*/
    height: 100vh; /*100% view height*/
    overflow: hidden;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: row; /*横向排列*/
    width: 90vw; /*90% view width*/
    max-width: 1000px;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    flex:0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px; 
    margin: 0;
    opacity: 0;
}
.panel.active {
    flex:5;

}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width:480px) { /*手机上*/
    .container {
        width:100vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5) {
        display: none;
    }
}