body {
    width: 500px;
    margin: 0 auto;
    height: 1400px;
}

p {
    background: aqua;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
}

span {
    background: red;
    border: 1px solid black;
}

.positioned {
    position:relative;
    background: yellow;
    /*bottom: 30px;*/
    right: 10px;
}

img {
    width: 100px;
}

p:nth-of-type(1) {
    margin-top: 70px;
}

p:nth-of-type(10) {
    margin-top: 60px;
    position: absolute;
    background: lime;
    top: 10px;
    right: 30px;
}

h1 {
    position: fixed; /*固定位置*/
    top: 0; /*吸顶*/
    width: 500px;
    margin: 0 auto; /*居中*/
    background: white;
    padding: 10px;
    z-index: 1;
}