body {
    font-family: sans-serif;
    width: 50%;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
}
.guessArea {
    display: flex;
}

input {
    height: 20px;
    margin: auto 5px;
}

button {
    height: 30px;
    margin: auto 5px;
}